<header class="header_section">
    <h1 class="title">News</h1>
    <div class="map_site">
        <a href="../uz.html" class="main_page_link">Home Page</a>
        <p class="this_page"> <i class="fas fa-angle-double-right"></i>News</p>
    </div>
</header>
<section class="page-content pb-5">
    <div class="page-content-section py-4">
        <div class="container ">
            <div class="row">
                <div class="col-lg-8 " id="newss">
                    <h2 style="text-align: center;font-weight:bold;z">My Constitution is 31 years old</h2>
                    <p style="text-align:justify"><img alt="" src="../uploads/img/yangilikar/%d0%af%d0%bd%d0%b3%d0%b8%d0%bb%d0%b8%d0%ba%d0%bb%d0%b0%d1%80%d0%b3%d0%b0%20%d0%b1%d0%b5%d1%80%d0%b8%d0%bb%d0%b0%d1%91%d1%82%d0%b3%d0%b0%d0%bd%20%d1%84%d0%be%d1%82%d0%be%d0%bb%d0%b0%d1%80/Konstitutsiya-31%20yil/Konstitutsiya-31%20yil.jpg" style="height:800px; width:1280px" />The Constitution of Uzbekistan was adopted on December 8, 1992, at the eleventh session of the Supreme Council of the republic of the twelfth convocation. From this day on, December 8 is celebrated in Uzbekistan as a national holiday. Since the declaration of independence of Uzbekistan, a new sovereign state has emerged on the world stage, and the legal foundation for independence was laid by the adoption of the first Constitution.</p>

                    <p style="text-align:justify">&nbsp;</p>

                    <p style="text-align:justify"><img alt="" src="../uploads/img/yangilikar/%d0%af%d0%bd%d0%b3%d0%b8%d0%bb%d0%b8%d0%ba%d0%bb%d0%b0%d1%80%d0%b3%d0%b0%20%d0%b1%d0%b5%d1%80%d0%b8%d0%bb%d0%b0%d1%91%d1%82%d0%b3%d0%b0%d0%bd%20%d1%84%d0%be%d1%82%d0%be%d0%bb%d0%b0%d1%80/Konstitutsiya-31%20yil/Konstitutsiya-31%20yil%20yoshda.jpg" style="color:rgb(0, 0, 0); font-family:tahoma,geneva,sans-serif; font-size:14px; height:2480px; text-align:justify; width:3507px" />The new edition of the Constitution identified the five pillars of Uzbekistan - a sovereign, democratic, legal, social, and secular state; its content was fundamentally improved and enriched with new chapters and articles.</p>
                    <div class="mt-5">

                        <form id="pdfjs-form-w0" class="form-horizontal" action="https://fjsti.uz/pdfjs?file=%2Fuploads%2Fimg%2Fyangilikar%2F%25D0%25AF%25D0%25BD%25D0%25B3%25D0%25B8%25D0%25BB%25D0%25B8%25D0%25BA%25D0%25BB%25D0%25B0%25D1%2580%25D0%25B3%25D0%25B0%2520%25D0%25B1%25D0%25B5%25D1%2580%25D0%25B8%25D0%25BB%25D0%25B0%25D1%2591%25D1%2582%25D0%25B3%25D0%25B0%25D0%25BD%2520%25D1%2584%25D0%25BE%25D1%2582%25D0%25BE%25D0%25BB%25D0%25B0%25D1%2580%2FKonstitutsiya-31%2520yil%2FCons-ru.pdf" method="post" target="pdfjs-w0">
                            <input type="hidden" name="_csrf-frontend" value="tx0SVzY46W4lXqIo_2Mlc2zavif_E4qyLXG3ghOzjGDSenwyQ1LQAREqml2oV2QEVenoFMxZ4OsUEMHuVsnmNA==">
                        </form>
                        <iframe id="pdfjs-w0" name="pdfjs-w0" style="border:solid 2px #404040; width:100%; height:500px;"></iframe>
                    </div>



                </div>
                <div class="col-lg-4 sidebar">
                    <ul class="main-menu__list">
                        <li class="active"><a href="../news.html">Institute</a></li>
                        <li><a href="../uz49b4.html?menu_id=71">About the institute</a></li>
                        <li><a href="../news/71/institut-yangiliklari.html">Institute news</a></li>
                        <li><a href="../blog/71.html">Certificate of state accreditation</a></li>
                        <li><a href="../blog/71.html">The structure of the institute</a></li>
                        <li><a href="../news/71/farg%ca%bcona-jamoat-salomatligi-tibbiyot-institutida-ta%ca%bclim-va-tibbiyot-sifatini-oshirishda-innovatsiyalarning-tutgan-o%ca%bcrni-mavzusida-xalqaro-onlayn-konferentsiya-bo%ca%bclib-o%ca%bctdi">Announcements</a></li>
                        <li><a href="../uz49b4.html?menu_id=71">Council of the institute</a></li>
                        <li><a href="../blog/71.html">Institute passport</a></li>
                        <li><a href="../uz49b4.html?menu_id=71">Supervisory Board</a></li>
                        <li><a href="../uz49b4.html?menu_id=71">FJSTI Scientific Journal</a></li>
                        <li><a href="../uz49b4.html?menu_id=71">Institute newspaper</a></li>
                        <li><a href="../site/detail49b4.html?menu_id=71">Normative documents</a></li>
                        <li><a href="../site/detail49b4.html?menu_id=71">Institute conferences</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="usefull ">
    <div class="container">
        <h2 class="py-2" style="color: #000064">Useful resources</h2>
        <div class="owl-carousel" id="use-carousel">
            <a href="https://ssv.uz/uz" class="use-item">
                <img src="../uploads/img/logo/%d0%91%d0%b5%d0%b7%20%d0%bd%d0%b0%d0%b7%d0%b2%d0%b0%d0%bd%d0%b8%d1%8f.html" alt="">
                <h3 style="color: #000064">Ministry of Health of the Republic of Uzbekistan</h3>
            </a>
            <a href="https://president.uz/uz" class="use-item">
                <img src="../uploads/img/useful/prezident_sayt.png" alt="">
                <h3 style="color: #000064">O'zbekiston Respublikasi Prezidenti</h3>
            </a>
            <a href="https://lex.uz/" class="use-item">
                <img src="../uploads/img/useful/lex.uz.png" alt="">
                <h3 style="color: #000064">O`ZBEKISTON RESPUBLIKASI qonun hujjatlari ma'lumotlar bazasi</h3>
            </a>
            <a href="https://gov.uz/uz" class="use-item">
                <img src="../uploads/img/useful/gov_uz.png" alt="">
                <h3 style="color: #000064">O`ZBEKISTON RESPUBLIKASI hukumat portali</h3>
            </a>
            <a href="https://edu.uz/uz" class="use-item">
                <img src="../uploads/img/logo/logo.html" alt="">
                <h3 style="color: #000064">O`ZBEKISTON RESPUBLIKASI Oliy va o`rta maxsus ta'lim vazirligi</h3>
            </a>
        </div>
    </div>
</section>